@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Shalimar&display=swap');
#main-frame{
    background-image: url(./images/Beautiful-flower2.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right bottom;
}
#main-frame1{
    background-image: url(./images/garden-4147802_960_720.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right bottom;
}
.benefit, .flower-sec, #about, #floral, #newarrival, #subtxt, .florist, .romantic, .footer{
    /* font-family: "Playfair Display", serif; */
    font-family: "Crimson Text", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}

.lavishly-yours-regular {
    font-family: "Shalimar", cursive;
    font-weight: 700;
    font-style: normal;
}

.floral{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.activelinks.active{
    outline: 2px solid #f45d96;
    cursor: pointer;
}

.allin:hover .allincart{
    display: block;
}
.allin:hover .allinprice{
    display: none;
}
#icons{
    display: none;
}
.allin:hover #icons{
    display: block;
}
.trend{
    position: relative;
}
.blogpost:hover .trend{
    background-color: #f45d96;
}
.blogpost:hover h1{
    text-decoration: underline;
}

.fade {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}
.fade.show {
    opacity: 1;
}

.label:active .label-con{
    display: block;
}
.label:hover .label-con{
    display: block;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  80% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.pop-in {
  animation: popIn 0.4s ease-out forwards;
}


